LICENSE.md

#Ignoring all files inside the build directory at the root of the repository.
build/

#All the files ending with *.env
*.env

#All files in the subdirectory test-runs/logs
**/test-runs/logs

## All CSV files anywhere in the repository
*.csv